# Python
__pycache__
*.pyc
*.pyo
*.pyd
.venv
pyrightconfig.json
venv

# VSCode
.vscode/

# symlinks
gulp-paid-plugins
slurp
gulpui-web
# gulp-sdk-python

#auto generated docs
docs/html
.VSCodeCounter

# native
src/gulp/libgulp
*.so

# misc
copilot-instructions.md
chatmodes
prompts
export.csv
export.json
gulp_cfg.json
*.egg-info
test.py
build
.DS_Store
*log*.txt
output.txt
start_splunk.sh
supported_formats.md
build_paid.sh
prompts.txt
tests/query/sigma/windows
build_test.sh
.specstory