# uses environment variables in .env file
services:
  os01:
    restart: always
    image: opensearchproject/opensearch:2
    environment:
      discovery.type: single-node
      #discovery.seed_hosts: "os01,os02,os03"
      #cluster.initial_master_nodes: "os01,os02,os03"
      cluster.name: "opensearch"
      network.host: "0.0.0.0"
      node.name: "os01"
      #index.codec: "zstd_no_dict"
      bootstrap.memory_lock: true
      # OPENSEARCH_JAVA_OPTS: "-Xms2G -Xmx2G"
      OPENSEARCH_USERNAME: ${OPENSEARCH_USER}
      OPENSEARCH_INITIAL_ADMIN_PASSWORD: ${OPENSEARCH_PASSWORD}

      #######################################################################
      # WARNING: disabling the security plugin also means that not only SSL but ***also basic auth is disabled/skipped***.
      # this may be fine for local development, or if you are using a reverse proxy which provides authentication.
      #######################################################################
      DISABLE_SECURITY_PLUGIN: true
      plugins.security.ssl.http.enabled: false
      http.cors.enabled: true
      http.cors.allow-origin: "*"
      http.cors.allow-headers: "*"
      # fix for field expansion error - increases the maximum number of fields that can be queried with wildcards
      # indices.query.bool.max_clause_count: 8192

    ulimits:
      memlock:
        soft: -1
        hard: -1
    ports:
      - 9200:9200
    volumes:
      - opensearch_data:/usr/share/opensearch/data

  opensearch-dashboards:
    profiles: [ "os-dashboards" ]
    image: opensearchproject/opensearch-dashboards:latest
    container_name: opensearch-dashboards
    ports:
      - 5601:5601
    environment:
      OPENSEARCH_HOSTS: '["http://os01:9200"]'
    depends_on:
      - os01

  postgres:
    # using an image having pg_cron preinstalled
    # TODO: use the official postgres image and install pg_cron
    image: cleisonfmelo/postgres-pg-cron
    #command: postgres -c 'max_connections=${POSTGRES_MAX_CONNECTIONS}'
    restart: always
    volumes:
      - postgres_data:/var/lib/postgresql/data
    ports:
      - 5432:5432
    environment:
      - POSTGRES_USER=${POSTGRES_USER}
      - POSTGRES_PASSWORD=${POSTGRES_PASSWORD}
      - POSTGRES_DB=${POSTGRES_DB}
      #- POSTGRES_MAX_CONNECTIONS=${POSTGRES_MAX_CONNECTIONS}

  elasticvue:
    profiles: [ "dev" ]
    image: cars10/elasticvue:latest
    container_name: elasticvue
    ports:
      - 8082:8080
    depends_on:
      - os01

  adminer:
    profiles: [ "dev" ]
    image: adminer
    depends_on:
      - postgres
    ports:
      - 8081:8080

  gulp:
    profiles: [ "gulp", "gui" ]
    image: ${GULP_IMAGE:-mentatis/gulp-core:latest}
    container_name: gulp
    user: gulp
    environment:
      - GULP_POSTGRES_URL=postgresql+psycopg://${POSTGRES_USER}:${POSTGRES_PASSWORD}@postgres:5432/${POSTGRES_DB}
      - GULP_OPENSEARCH_URL=http://${OPENSEARCH_USER}:${OPENSEARCH_PASSWORD}@os01:9200
      - GULP_BIND_TO_PORT=${GULP_BIND_TO_PORT:-8080}
      - GULP_BIND_TO_ADDR=${GULP_BIND_TO_ADDR:-0.0.0.0}
    volumes:
      - ${GULP_WORKING_DIR:-~/.config/gulp}:/home/gulp/.config/gulp # gulp_cfg.json and extra plugins goes here
      - ${GULP_WORKING_DIR:-~/.config/gulp}/.local:/home/gulp/.local # to persist user data
      - ${GULP_WORKING_DIR:-~/.config/gulp}/.pip_cache:/home/gulp/.cache/pip # to persist pip cache
      - ${GULP_WORKING_DIR:-~/.config/gulp}/.site_packages:/home/gulp/.local/lib/python${PYTHON_VERSION}/site-packages # to persist installed pip packages
    depends_on:
      - postgres
      - os01
    ports:
      - ${GULP_BIND_TO_PORT:-8080}:${GULP_BIND_TO_PORT:-8080}

    # sleeping for 30 seconds to wait for both gulp/opensearch to be ready
    # (seems depends is not enough)
    command: /bin/sh -c "sleep 30 && python3 -m gulp ${EXTRA_ARGS:-}"

    # allow restart
    restart: unless-stopped

  gulp-web:
    profiles: [ "gui" ]
    image: mentatis/gulp-web:latest
    depends_on:
      - gulp
    container_name: gulp-web
    restart: on-failure
    ports:
      - 3000:3000

  ftpserver:
    image: delfer/alpine-ftp-server:latest
    profiles: [ "gulp", "dev", "gui" ]
    container_name: ftpserver
    depends_on:
      - os01
    restart: unless-stopped
    ports:
      - 21:21
      - 21000-21010:21000-21010
    environment:
      - USERS=${SFTPD_USER}|${SFTPD_PASSWORD}|/home/gulp/.config/gulp|1000
      # - TLS_CERT=/home/gulp/.config/gulp/certs/sftpd.pem # server cert + CA
      # - TLS_KEY=/home/gulp/.config/gulp/certs/sftpd.key # passwordless key
    volumes:
      - ${GULP_WORKING_DIR:-~/.config/gulp}:/home/gulp/.config/gulp # gulp_cfg.json and extra plugins goes here

volumes:
  postgres_data:
  opensearch_data:

