aiocsv==1.3.2
aiofile==3.8.8
aiofiles==24.1.0
aiohappyeyeballs==2.4.3
aiohttp==3.10.8
aiomultiprocess==0.9.1
aiopath==0.7.7
aioshutil==1.5
aiosignal==1.3.1
aiosmtplib==3.0.2
annotated-types==0.7.0
anyio==4.6.0
art==6.3
async-unzip==0.3.6
asyncio-pool==0.6.0
attrs==24.2.0
caio==0.9.17
certifi==2024.8.30
charset-normalizer==3.3.2
click==8.1.7
colorama==0.4.6
coloredlogs==15.0.1
dotwiz==0.4.0
elastic-transport==8.15.0
elasticsearch==8.15.1
Events==0.5
evtx==0.8.0
fastapi==0.115.0
frozenlist==1.4.1
greenlet==3.1.1
git+https://github.com/mentat-is/gulp.git@f886d030e6b447e66f46c73916d503e8b1340757#egg=gulp
h11==0.14.0
humanfriendly==10.0
idna==3.10
Jinja2==3.1.4
json5==0.9.25
lxml==5.3.0
MarkupSafe==2.1.5
multidict==6.1.0
muty @ git+https://github.com/mentat-is/muty-python@a95596acd070965814e7ef9e4e64c09617e7b000
ntplib==0.4.0
opensearch-py==2.7.1
packaging==24.1
prettytable==3.11.0
psutil==6.0.0
psycopg==3.2.3
psycopg-binary==3.2.3
psycopg-pool==3.2.3
pycryptodome==3.20.0
pydantic==2.9.2
pydantic_core==2.24.0
pyheck==0.1.5
pyparsing==3.1.4
pySigma==0.11.14
pySigma-backend-elasticsearch==1.1.2
pySigma-backend-opensearch==1.0.2
python-dateutil==2.9.0.post0
python-multipart==0.0.12
python-pip==1.1.1
PyYAML==6.0.2
requests==2.32.3
requests-toolbelt==1.0.0
setuptools==75.1.0
sigma-cli==1.0.4
six==1.16.0
sniffio==1.3.1
SQLAlchemy==2.0.35
sqlalchemy-dlock==0.6.1.post1
SQLAlchemy-Utils==0.41.2
starlette==0.38.6
typing_extensions==4.12.2
urllib3==2.2.3
uvicorn==0.31.0
wcwidth==0.2.13
websockets==13.1
xmltodict==0.13.0
yarl==1.13.1
