services:
  dev:
    build: .
    volumes:
      - ..:/gulp:cached
      - /var/run/docker.sock:/var/run/docker.sock
      # use a named volume for pip cache to persist it across container rebuilds
      - pip-cache:/home/vscode/.cache/pip
    command: sleep infinity
    ports:
      # gulp
      - "8080:8080"
    privileged: true
    group_add:
      - docker

    network_mode: "host"
    init: true

volumes:
  pip-cache:
    driver: local
